@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@layer components {
  .button {
    @apply text-center text-gray-500 dark:text-gray-400;
  }

  .mood-image {
    @apply mx-auto mb-2 w-20 h-20 rounded-full bg-white p-2 hover:brightness-50 focus:brightness-50;
  }

  .mood-text {
    @apply mb-1 text-lg font-bold tracking-tight text-gray-100 dark:text-white;
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
